*{
	margin:0;
	padding:0;
	box-sizing:border-box;
	font-family:sans-serif;
}
.container{
	width:80%;
	margin:0 auto;
}
.navbar{
	display:flex;
	justify-content:space-between;
	align-items:center;
}
.bar i{
	color:#fff;
	font-size:32px;
	margin:0 30px 0 0;
}
nav{
	padding:0 15px;
}
nav ul li{
	display:inline-block;
	padding:10px 0px 10px 30px;
}
nav ul li a{
	color:#ffffff99;
}
 nav ul li:last-child a{
	display:inline-block;
	padding:8px 20px;
	margin-left:30px;
	background-color:#0d42ff;
	color:#fff;
	border-radius:4px;
}
header{
	position:fixed;
	width:100%;
	top:0;
	z-index:1;
	padding:20px 0px;
	background-color:#0e1d34e6;
}
a{
	text-decoration:none;
}
.logo a{
	font-size:30px;
	font-weight:bold;
	color:#fff;
	padding:0 15px;
}
#home{
	background:#0e1d34 url('logis/assets/img/hero-bg.png') no-repeat center;
	min-height:50vh;
	padding:120px 0px 60px 0px;
	background-size:cover;
	color:#fff;
	position:relative;
}
.row{
	display:flex;
	flex-wrap:wrap;
	justify-content:space-between;
}
.col-1{
	width:45%;
	padding:0 15px;
}
.col-2{
	width:40%;
	padding:0 15px;
}
.col-2 img{
	width:100%;
}
.col-1 h2{
	font-size:48px;
	margin:0px 0px 20px;
}
.col-1 p{
	font-size:15px;
	color:#ffffffcc;
	margin:0px 0px 40px;
}
form input{
	padding:18px 20px;
	border:none;
	outline:0;
	width:100%;
	font-size:16px;
}
form{
	position:relative;
	background:#fff;
	padding:10px;
	border-radius:10px;
	margin-bottom:20px;
}
form button{
	position:absolute;
	top:10px;
	right:10px;
	bottom:10px;
	padding:15px 30px;
	display:flex;
	justify-content:center;
	align-items:center;
	border:0;
	color:#fff;
	font-size:16px;
	background-color:#0d42ff;
	border-radius:5px;
}
.col-3{
	text-align:center;
	padding:30px;
}
.col-3 span{
	display:inline-block;
	font-size:32px;
	font-weight:bold;
	color:#ffffffcc;
	margin-bottom:15px;
	padding:0 0 15px;
	position:relative;
}
.col-3 span::before{
	content:"";
	position:absolute;
	width:20px;
	height:3px;
	background-color:#0d42ff;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
}
.col-3 p{
	font-size:16px;
	font-weight:bold;
}
.col-4{
	display:flex;
	width:33.33%;
	padding:0 15px;
}
.col-4 a{
	color:#000;
	font-size:15px;
	font-weight:bold;
}
.truck-icon{
	margin:0 20px 0 0;
}
.truck-icon i{
	font-size:48px;
	color:#2b2ba3;
}
.col-4 h3{
	margin:0 0 16px;
}
.col-4 p{
	margin:0 0 16px;
	color:#6c6c6c;
	line-height:1.5;
	font-size:15px;
}
.col-4:hover i{
	color:#0d42ff;
	transition:all 0.3s ease;
}
.col-4:hover h3{
	color:#0d42ff;
	transition:all 0.3s ease;
}
.col-4:hover a{
	color:#0d42ff;
	transition:all 0.3s ease;
}
.col-5,.col-6{
	width:50%;
	padding-left:15px;
	padding-right:15px;
}
.col-6 img{
	width:100%;
	padding:0 0 0 16px;
}
.col-5 h3{
	font-size:32px;
	margin:0 0 16px;
	color:#2b2ba3;
}
.col-5 .row-1{
	margin:40px 0 0;
}
.row-1{
	display:flex;
}
.col-5 i{
	margin:0 20px 0 0;
	font-size:48px;
	color:#0d42ff;
}
.col-5 p{
	color:#6c6c6c;
	line-height:1.3;
}
.col-5 .row p{
	font-size:15px;
}
.col-5 h4{
	margin:0 0 16px;
	color:#19335c;
	font-size:18px;
}
.col-6{
	position:relative;
}
.col-6 div{
	position:absolute;
	display:flex;
	top:0;
	left:0;
	justify-content:center;
	align-items:center;
	width:100%;
	height:390px;
	align-content:center;
}
.col-6 div a i{
	font-size:32px;
	display:flex;
	justify-content:center;
	align-items:center;
	color:#fff;
	width:70px;
	height:70px;
	background:#0d42ff;
	box-shadow:0 0 0 15px #0d42ff52;	
	border-radius:50%;
	transition:all 0.3s ease;
	animation:play 1s 2s infinite ease;	
}
@keyframes play{
	0%{
		outline:3px solid #0d42ff;outline-offset:1px;
	}
	100%{
		outline:3px solid #0d42ff;outline-offset:12px;
	}
}
.head{
	width:100%;
	display:flex;
	justify-content:center;
	margin:0 0 40px;
	position:relative;
}
.head h2{
	padding:0 0 20px;
	font-size:32px;
	color:#2b2ba3;
}
.head p{
	position:absolute;
	top:-14px;
	display:flex;
	justify-content:center;
	align-items:center;
	text-align:center;
	font-size:56px;
	color:#0e1d340f;
	font-weight:bold;
	text-transform:uppercase;
}
.head::after{
	content:"";
	position:absolute;
	width:50px;
	height:3px;
	background-color:#0d42ff;
	bottom:0;
}
.col-7{
	width:33.33%;
	padding:0 15px;
	margin-bottom:30px;
	
}
.col-7>div{
	border:1px solid #ccc;
	border-radius:4px;
}
.col-7 .card-img img{
	width:100%;
	vertical-align:middle;
	transition:all 0.3s ease;
}
.card-cont{
	padding:30px;
}
.card-cont h4{
	color:#2b2ba3;
	margin:0 0 20px;
	font-size:18px;
}
.card-cont p{
	color:#0e1d34;
	font-size:15px;
	line-height:1.5;
}
.card-img{
	overflow:hidden;
}
.col-7:hover .card-img img{
	transform:scale(1.1,1.1);
}
.col-7:hover h4{
	color:#0d42ff;
}
.call-to-act{
	background:linear-gradient(#0e1d3499,#0e1d34cc), url('logis/assets/img/cta-bg.jpg') center center;
	background-attachment:fixed;
	background-size:cover;
	padding:100px 0;
}
.container-1{
	width:57%;
	margin:0 auto;
	text-align:center;
}
.container-1 h3{
	color:#fff;
	font-size:30px;
}
.container-1 p{
	color:#ffffffd4;
	font-size:18px;
	margin:20px 0 0;
}
.container-1 a{
	display:inline-block;
	border:2px solid #fff;
	padding:12px 40px;
	color:#ffffffd4;
	border-radius:5px;
	font-size:18px;
	margin:20px 0 0;
	transition:all 0.3s ease;
}
.container-1 a:hover{
	background-color:#0d42ff;
	border-color:#0d42ff;
}
.col-8{
	width:40%;
	padding:0 15px;
}
.col-8 div img{
	width:100%;
}
.col-9{
	width:60%;
	padding:20px;
}
.col-9 h3{
	color:#2b2ba3;
	margin:0 0 20px;
	font-size:24px;
}
.col-9 .para{
	font-style:italic;
	margin:0 0 20px;
}
.col-9 p{
	line-height:1.5;
}
.col-9 ul li, .col-13 ul li{
	list-style-type:none;
	line-height:2;
}
.col-9 ul li i{
	font-size:20px;
	margin:0 6px 0 0;
	color:#0d42ff;
}
.col-10{
	width:33.33%;
	padding:0 15px;
}
.col-10>div{
	box-shadow:0 3px 15px #ccc;
	padding:60px 30px;
	border-radius:4px;
}
.col-11{
	width:33.33%;
	padding:0 15px;
}
.col-11>div{
	box-shadow:0 3px 15px -2px #ccc;
	padding:60px 30px;
	border-radius:4px;
	border-top:4px solid #0d42ff;
}
.col-10 ul li, .col-11 ul li{
	list-style-type:none;
	line-height:2.5;
	font-size:16px;
	color:#0000009c;
}
.col-10 ul li i, .col-11 ul li i{
	font-size:24px;
	margin:0 6px 0 0;
	color:green;
}
sup{
	font-size:28px;
	color:#0d42ff;
	position:relative;
	top:-0.3em;
}
.col-10 p span, .col-11 p span{
	font-size:48px;
	color:#0d42ff;
}
.col-10 p, .col-11 p{
	font-size:20px;
	color:#0000009c;
}
.col-10 a{
	display:inline-block;
	border:1px solid #0d42ff;
	color:#0d42ff;
	padding:12px 35px;
	border-radius:4px;
	margin:30px 0 0;
	transition:all 0.3s ease;
}
.col-11 a{
	display:inline-block;
	color:#fff;
	background-color:#0d42ff;
	padding:12px 35px;
	border-radius:4px;
	margin:30px 0 0;
}
.col-10 a:hover{
	background-color:#0d42ff;
	color:#fff;
}
.testimonial{
	background:linear-gradient(#0e1d3499,#0e1d34cc), url('logis/assets/img/testimonials-bg.jpg') center center;
	background-size:cover;
	padding:100px 0px;
	min-height:50vh;
	color:white;
}
.slide{
	text-align:center;
}
.slide img{
	margin:auto;
	width:100px !important;
	border-radius:50%;
	border:6px solid #ffffff26;
}
.slide h4{
	color:#ffffff8c;
	font-size:16px;
	margin:0 0 20px;
}
.slide p{
	font-style:italic;
	color:#ffffffcf;
	padding:20px 0px;
}
.bi-star-fill{
	color:#ffd700;
}
.faq ul li{
	list-style-type:none;
}
.faq{
	width:90%;
	margin:0 auto;
}
.faq-dflex{
	display:flex;
	justify-content:space-between;
	padding:20px 20px 20px 30px;
	background-color:#0e1d3408;
	margin:0 0 10px;
	font-size:18px;
	font-weight:bold;
}
.question-icon{
	display:inline-block;
	color:#0d42ff;
	margin:0 10px 0 0;
	font-size:20px;
}
.footer{
	padding:50px 0px;
	background-color:#0e1d34;
	color:#fff;
	position:relative;
}
.footer p{
	color:#ffffffcf;
	font-size:15px;
	margin:0 0 20px;
	line-height:1.5;
}
.footer h4{
	margin:0 0 20px;
}
.col-12{
	width:40%;
	padding:0 15px;
}
.col-13, .col-14{
	width:20%;
	padding:0 15px;
}
.col-13 li a{
	color:#ffffff8c;
	transition:all 0.3s ease;
}
.logo-foot a{
	display:inline-block;
	font-size:30px;
	font-weight:bold;
	color:#fff;
	margin:0 0 20px;
}
.social-links{
	display:flex;
}
.social-links a{
	display:flex;
	justify-content:center;
	align-items:center;
	color:#ffffff8c;
	width:40px;
	height:40px;
	border:1px solid #ffffff8c;
	border-radius:50%;
	margin:0 10px 0 0;
	font-size:16px;
	transition:all 0.3s ease;
}
.social-links a:hover{
	border-color:#fff;
}
.col-13 ul li a:hover{
	color:#fff;
}
.bottom{
	padding:50px 0 0;
	text-align:center;
}
.bottom p{
	color:#fff;
}
.bottom p a{
	color:#fff;
}
.bottom+a{
	color:#fff;
	position:fixed;
	right:15px;
	bottom:15px;
	width:40px;
	height:40px;
	background-color:#0d42ff;
	display:flex;
	justify-content:center;
	align-items:center;
	font-size:24px;
	border-radius:4px;
	z-index:1;
}
@media(min-width:320px){
	.bar{
		display:flex;
	}
	nav{
		display:none;
	}
	.container, .container-1{
		width:95%;
	}
	.col-1{
		width:100%;
		order:2;
	}
	.col-2{
		width:100%;
		order:1;
		padding:0 0 40px;
	}
	#home{
		margin:0 0 40px;
	}
	.col-3{
		width:50%;
	}
	.col-4{
		width:100%;
		margin:0 0 40px;
	}
	section{
		padding:0 0 80px;
	}
	.col-5{
		width:100%;
		order:2;
	}
	.col-6{
		width:100%;
		order:1;
		padding:0 0 40px;
	}
	.col-7{
		width:100%;
	}
	.call-to-act{
		margin:0 0 40px;
	}
	.col-8{
		width:100%;
		order:1;
		margin:0 0 30px;
	}
	.col-9{
		width:100%;
		order:2;
	}
	.feature-order .col-8{
		width:100%;
		order:1;
		margin:0 0 30px;
	}
	.feature-order .col-9{
		width:100%;
		order:2;
	}
	.col-10, .col-11{
		width:100%;
		margin:0 0 20px;
	}
	.head h2{
		font-size:1.5em;
	}
	.head p{
		font-size:1.7em;
		top:-5px;
	}
	.testimonial{
		margin-bottom:40px;
	}
	.col-12{
		width:100%;
		margin:0 0 40px;
	}
	.col-13{
		width:50%;
		margin:0 0 40px;
	}
	.col-14{
		width:100%;
		text-align:center;
	}
}
@media(min-width:600px){
	.container, .container-1{
		width:85%;
	}
	.col-4{
		width:50%;
	}
	.col-7{
		width:50%;
	}
	.feature-order .col-8{
		width:40%;
		order:1;
	}
	.feature-order .col-9{
		width:60%;
		order:2;
	}
	.col-8{
		width:40%;
		order:2;
	}
	.col-9{
		width:60%;
		order:1;
	}
	.head h2{
		font-size:32px;
	}
	.head p{
		font-size:56px;
		top:-14px;
	}
	.col-14{
		text-align:left;
	}
}
@media(min-width:1025px){
	.bar{
		display:none;
	}
	nav{
		display:flex;
	}
	.container{
		width:80%;
	}
	.col-1{
		width:45%;
		order:1;
	}
	.col-2{
		width:40%;
		order:2;
	}
	#home{
		margin:0px;
	}
	.col-3{
		width:25%;
	}
	.col-4{
		width:33.33%;
	}
	section{
		padding:60px 0px;
	}
	.col-5{
		width:50%;
		order:1;
	}
	.col-6{
		width:50%;
		order:2;
		padding:0 0 40px;
	}
	.col-7{
		width:33.33%;
	}
	.container-1{
		width:57%;
	}
	.call-to-act{
		margin:0px;
	}
	.col-10, .col-11{
		width:33.33%;
		margin:0;
	}
	.testimonial{
		margin-bottom:0px;
	}
	.col-12{
		width:40%;
	}
	.col-13, .col-14{
		width:20%;
	}
}